@import "../styles/variables.scss";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/cormorant";
@import "@fontsource-variable/raleway";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: $white;
  color: $gray-09;
  font-family: "Cormorant", sans-serif;
  font-size: 1rem;

  body {
    max-width: 100vw;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0;
  }

  h1,
  h2 {
    font-family: "Inter", sans-serif;
  }

  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 2rem;
    margin: 1.5rem 0 2rem 0;
  }

  p {
    line-height: 24px;
  }

  ul {
    list-style: none;
  }

  span {
    font-family: "Raleway", sans-serif;
    font-size:0.875rem;
    text-transform: uppercase;
  }

  button {
    padding: 1rem 3.5rem;
    height: 3.5rem;
    width: auto;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;

    &:hover{
      opacity: 0.9;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
  }

  hr {
    margin-bottom: 2rem;
    height: 0.01rem;
    background-color: $purple-light;
    border: none;
  }

  input {
    outline: none;
    border: none;
  }

  div.wrapper {
    max-width: 1500px;
    width: 100%;
    display: flex;

    @media only screen and (max-width: 1400px) {
      max-width: 80%;
    }
  }

  div.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  div.buttons {
    margin-top: 3rem;
  }
}
