/* Colors */

$gray-01:#f8f9fa;
$gray-02:#f1f3f5;
$gray-09:#343a40;
$gray-10:#212529;
$gray-03:#e9ecef;
$gray-04:#dee2e6;
$gray-05:#ced4da;
$gray-06:#adb5bd;
$gray-07:#868e96;
$gray-08:#495057;

$background-light:#e7e9ff;
$background-dark:#080a0c;
$gradients-background: #f1f4ff;

$purple-light:#d7d7ec;
$purple-dark:#6246ea;
$salmon: #e45858;

$white: #ffffff;
$black: #14191e;