---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ContentSection from "../components/ContentSection.astro";
import AuthorSection from "../components/AuthorSection.astro";
---

<Layout title="E-book Landing">
  <main>
    <Header />
    <HeroSection />
    <AboutSection />
    <ContentSection />
    <AuthorSection />
  </main>
</Layout>
