---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ContentSection from "../components/ContentSection.astro";
import AuthorSection from "../components/AuthorSection.astro";
import FeedbacksSection from "../components/FeedbacksSection.astro";
import CTASection from "../components/CTASection.astro";
import PreviewSection from "../components/PreviewSection.astro";
import FAQSection from "../components/FAQSection.astro";
---

<Layout title="E-book Landing">
  <main>
      <Header />
      <HeroSection />
      <AboutSection />
      <ContentSection />
      <AuthorSection />
      <FeedbacksSection />
      <CTASection /> 
      <PreviewSection /> 
      <FAQSection /> 
  </main>
</Layout>


