---
import { Image } from "astro:assets";
import author from "../images/author-1.png";
import author2 from "../images/author-2.png";
import Button from "./Button.astro";
---

<section id="author">
  <div class="wrapper">
    <Image src={author} alt="Author" height="614" />
    <div class="text">
      <span>THE AUTHOR</span>
      <h2>Who wrote this ?</h2>
      <p>
        Throughout her career, Sophia has been passionate about sharing his
        knowledge and expertise with others. Inspired by the feedback and
        questions she received, she decided to write a lot of comprehensive
        e-books about design.
      </p>
      <p>
        Sophia Rodriguez is a highly experienced graphic designer with over 15
        years of experience in the field. She started her career working for a
        small design agency before branching out on his own and founding her own
        design firm.
      </p>

      <div class="flex buttons">
        <Button>Buy the ebook</Button>
        <Button variant="text">See other books</Button>
      </div>

      <hr />

      <div class="author-info">
        <Image src={author2} alt="Author Image 2" />
        <div>
          <h4>Sophia Rodriguez</h4>
          <p>Author, Editor, Reviewer & Owner</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  div.wrapper {
    gap: 17rem;
    justify-content: space-between;

    hr {
      margin-top: 2.625rem;
    }
  }

  div.author-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
</style>
