---
import { Image } from "astro:assets";
import Button from "./Button.astro";

import person4 from "../images/person-4.png";
import person5 from "../images/person-5.png";
import person6 from "../images/person-6.png";
import pagesContent from "../images/svg/pages-example.svg";
---

<section id="cta">
  <div class="wrapper">
    <div class="text">
      <span>BUY IT NOW!</span>
      <h2>More about the book</h2>
      <p>
        In this book, we will explore the art and science of landing page
        design. We will delve into the <br /> key elements that make up an effective
        landing page, including copywriting, layout, design, and <br /> user experience.
      </p>
      <div class="flex buttons">
        <Button>Buy the ebook</Button>
        <Button variant="text">Read a preview</Button>
      </div>

      <hr />

      <div class="feedbacks-group flex">
        <div class="feedback-images">
          <Image
            loading="lazy"
            src={person4}
            alt="Person"
            class="feedback-image"
          />
          <Image
            loading="lazy"
            src={person5}
            alt="Person"
            class="feedback-image"
          />
          <Image
            loading="lazy"
            src={person6}
            alt="Person"
            class="feedback-image"
          />
        </div>
        <p>+ 190 great feedbacks about our job</p>
      </div>
    </div>
    <Image id="pages" loading="lazy" src={pagesContent} alt="Pages contents" />
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  hr {
    margin-top: 3.5rem;
  }

  div.wrapper {
    gap: 8rem;
    justify-content: space-between;

    img#pages {
      width: 40%;
      height: inherit;
      object-fit: contain;

      @media only screen and (max-width: 900px) {
      display: none;
    }
    }

    div.feedback-images {
      
      img:not(:first-child) {
        margin-left: -1rem;
      }
    }
  }
</style>
