---
import { Image } from "astro:assets";
import { questions } from "../constants/questions";
import plusIcon from "../images/svg/plus.svg";
import Button from "./Button.astro";
import Questions from "./Questions.astro";
---

<section id="cta">
  <div class="wrapper">
    <div class="text">
      <span>FAQ</span>
      <h2>Frequently Asked <br />Questions</h2>
      <p>
        Do you still have any questions or suggestions? <br /> Send us a message.
      </p>
      <Button>Send message</Button>
    </div>
    <div class="questions-list">
      <Questions />
    </div>
  </div>
</section>

<style lang="scss">
  div.wrapper {
    gap: 8rem;

    @media only screen and (max-width: 900px) {
     flex-direction: column;
     gap: 4rem ;
    }
  }

  div.text {
    width:25rem;
    flex-direction: column;

    p {
      margin-bottom: 2rem;
    }
  }
  div.questions-list{
   flex: 1;
  }
</style>
