---
import FeedbackCard from "./FeedbackCard.astro";
import { feedbacks } from "../constants/feedbacks";
---

<section id="feedbacks">
  <div class="wrapper">
    <span>THE PEOPLE</span>
    <h2>Who’s this book for?</h2>

    <p>
      A book about landing page can be interesting for a wide range of
      individuals, including: digital <br /> marketers, web designers, copywriters
      and anyone who is interested in learning about it from scratch.
    </p>

    <div class="feedbacks-container">
      {feedbacks.map((feedback) => <FeedbackCard feedback={feedback} />)}
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  section#feedbacks {
    background-color: $background-light-2;

    div.wrapper {
      flex-direction: column;
    }
  }

  div.feedbacks-container {
    display: flex;
    padding-top: 3rem;
    width: 100%;
    gap: 1rem;
  }
</style>
