---
import { Image } from "astro:assets";
import bookOpen from "../images/svg/book-open.svg";
import ebookImages from "../images/svg/ebook-images.svg";
import lightbulb from "../images/svg/lightbulb.svg";
import linkSimple from "../images/svg/link-simple.svg";
---

<section id="hero">
  <div class="wrapper">
    <div class="text">
      <span>CHECK IT OUT</span>
      <h1>Best eBook design <br /> that you ever seen</h1>
      <p>
        A landing page is the first impression your potential customers have of
        your brand, and it can make or break your conversion rates. But don't
        worry - our ebook has got you covered.
      </p>
      <button> Buy the ebook</button>

      <hr />

      <div class="info">
        <div class="info-item">
          <Image loading="eager" src={lightbulb} alt="Tips" width="24" />
          <p><strong> +80 </strong>practice tips</p>
        </div>
        <div class="info-item">
          <Image loading="eager" src={bookOpen} alt="Pages" width="24" />
          <p><strong> +154 </strong> pages</p>
        </div>
        <div class="info-item">
          <Image loading="eager" src={linkSimple} alt="Links" width="24" />
          <p><strong> +50 </strong>useful links</p>
        </div>
      </div>
    </div>
    <div class="book-cover">
      <Image
        loading="eager"
        id="ebook-images"
        src={ebookImages}
        alt="E-book images"
      />
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  section#hero {
    width: 100%;
    background-color: $purple-dark;
    color: $white;
    padding-right: 0rem;

    div.text {
      flex: 1;
      max-width: 40rem;
      span {
        color: $white;
      }

      h1 {
        margin: 1.5rem 0 1.5rem 0;
      }

      p {
        margin-bottom: 2rem;
      }

      button {
        background-color: $white;
        color: $purple-dark;
      }

      hr {
        margin-top: 3rem;
      }

      div.info {
        display: flex;
        justify-content: space-between;

        div.info-item {
          display: flex;
          gap: 0.5rem;
          color: $background-light;
          align-items: center;

          strong {
            color: $purple-light;
          }
          p{
            margin-bottom: 0;
          }
        }
      }
    }

    div.book-cover {
      flex: 1;

      img#ebook-images {
        position: absolute;
        right: 0;
        top: 3rem;
        width: 35%;

        @media only screen and (max-width: 1400px) {
          width: 45%;
        }
      }
    }
  }
</style>
