---
const { title } = Astro.props;
import '../styles/global.scss'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Best eBook design that you ever seen.">
		<meta property="og:title" content="Landing Ebook">
		<meta property="og:image" content="/capa.png">
		<meta property="og:description" content="Best eBook design
		that you ever seen. A landing page is the first impression your potential customers have of your brand, and it can make or break your conversion rates. But don't worry - our ebook has got you covered">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	import ScrollReveal from 'scrollreveal'
	ScrollReveal().reveal('section .wrapper', {delay: 40});
</script>